<!-- Style do background -->
<style>
  body{
    background: #1a1026;
  }

</style>

<div class="container-fluid">

  <%= image_tag 'congratulation.jpg' %>

</div>

<!--    <div class="btn">-->
<%#= link_to 'Ir até sua sala de pesquisa, checar se deixou a chave lá.' , scene_path(id: 3), class: "text-primary" %>
<!--    </div>-->