<!-- Style do background -->
<style>
  body{
    background: #1a1026;
  }

</style>

<div class="container-fluid">

  <div class="card mb-3 text-center" style="max-width: 630px; max-height: 630px; margin-left: 300px;">
    <%= image_tag 'congratulation.jpg', class: 'card-img'%>
    <div class="card-img-overlay">
      <h1 class="card-title text-dark" style="font-size: large">Parabéns!!</h1>
      <p class="card-text text-danger" style="font-size: large">Com o galho, você volta para a sala de pesquisa, recupera a chave, e vai para sua casa.</p>
    </div>
  </div>



</div>

<!--    <div class="btn">-->
<%#= link_to 'Ir até sua sala de pesquisa, checar se deixou a chave lá.' , scene_path(id: 3), class: "text-primary" %>
<!--    </div>-->