<hr>
<div class="container-fluid">


  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
      <% @histories.each do |historia|%>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <%= link_to scene_path(historia) do %>
                <%= image_tag(historia.nome, class: "figure-img img-fluid rounded", alt:"A generic square placeholder image with rounded corners in a figure." ) %>
              <%end %>
              <div class="card-body">
                <h5 class="card-title text-secondary"><%= historia.titulo %></h5>
                <p class="card-text text-dark"><%= historia.descricao %></p>
              </div>
            </div>
          </div>
        <%end %>
      </div>
<!--      <table data-toggle="table" class="table table-hover table-striped table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th data-field="codigo" data-sortable="true">Título</th>-->
<!--          <th data-field="nome" data-sortable="true">Descrição</th>-->
<!--          <th></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
        <%# @histories.each do |historia| %>

              <%#= link_to edit_orgao_path(orgao), title: "Editar", class: "btn btn-xs btn-webtech btn-width" do %>
<!--                <span class="glyphicon glyphicon-edit"></span>-->
              <%# end %>
              <%#= link_to orgao, method: :delete, data: {confirm: 'Confirmar exclusão?'}, title: "Excluir", class: "btn btn-xs btn-danger btn-width" do %>
<!--                <span class="glyphicon glyphicon-trash"></span>-->
              <%# end %>


        <%# end %>
<!--        </tbody>-->
<!--      </table>-->

      <br>
    </div>
  </div>
</div>
