<div class="container-fluid center">
  <h1 class="header-parameter">Cadastrar Nova História</h1>
  <div class="panel panel-primary">
    <div class="panel-body">
      <%= render 'form', history: @history %>
    </div>
  </div>
</div>




<%= link_to 'Back', histories_path %>
