
<%if user_signed_in? %>
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-light" href="/">Home</a>
      <form class="form-inline">
        <div class="text-light" >
        <%= current_user.nome %>
        </div>
        <%= link_to  edit_user_registration_path(current_user), class: "btn btn-outline-secondary btn-sm" do%>
          <span class="glyphicon glyphicon-edit"></span>
          Editar
        <% end %>
        <div style="padding-left: 10px;">
          <%= link_to  destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm" do%>
            <span class="glyphicon glyphicon-edit"></span>
            sair
          <% end %>
        </div>
      </form>
  </nav>
<%end %>