<h1>Bem vindo ao InveX</h1>

<form>
	Login<br>
  <input type="text" name="firstname">
  <br>
  Senha<br>
  <input type="text" name="lastname">
  <br><br>
</form>
<ul>
	<li><a href="http://localhost:3000/">Logar</a></li>
	<li><a href="http://localhost:3000/usuarios/new">Novo Usuário</a></li>
</ul>
